table {
    font-size: 18px;
}

input {
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

#title-holder{
    font-size: 26px;
}

th {
    padding: 5px;
}

#priority-input {
    height: 30px;
}

select {
    height: 30px;
    margin-top: 5px;
}


#data-input {
    height: 30px;
}

#table_navbar .glyphicon {
    color: white;
}

    #table_navbar .glyphicon:hover {
        color: #313030;
    }

#table_navbar {
    margin-bottom: 5px;
}

td {
    padding: 5px;
}

form {
    margin: 5px;
}

input .edit {
    width: 100%;
    height: 100%;
}

#auth_box {
    font-size: 18px;
    color: white;
}

body {
    margin-left: 10%;
    width: 80%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

    body.modal-open {
        overflow: auto;
    }

header {
    border: 3px solid black;
    border-radius: 10px;
    background-image: url(images/bg1.jpg);
    background-repeat: repeat;
    color: black;
    font-size: 18px;
}

footer {
    border: 3px solid black;
    border-radius: 7px;
    margin-top: 10px;
    padding: 10px;
}

section {
    border-radius: 10px;
    border: 3px solid black;
    margin-top: 10px;
    background-image: url(images/container_bg.png);
    background-repeat: repeat;
}

nav {
    font-size: 16px;
}

h1 {
    color: white;
    font-family: Verdana;
}

h3 {
    color: white;
    font-family: Verdana;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-image: url(images/container_bg.png);
    background-repeat: repeat-y;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#slogan-holder h1 {
    margin-right: -10px;
    text-align: center;
    font-family: Calibri;
    font-size: 30px;
}

#slogan-holder h3 {
    font-family: Calibri;
    font-size: 24px;
    text-align: center;
}

#logo-holder {
}

#logo {
    padding-top: -20px;
    height: 120px;
    width: 120px;
    margin-left: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
}

li span {
    margin: 10px;
    margin-top: 0px;
}

li {
    font-size: 24px;
}
/*-------------------Carousel------------------*/
.carousel-inner > .item > img {
    margin: auto;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-inner {
    margin-bottom: 50px;
}

.carousel .item {
    background-color: #048fc8;
}

.carousel-indicators li {
    height: 20px;
    width: 20px;
    background-color: #048fc8;
}

    .carousel-indicators li.active {
        height: 20px;
        width: 20px;
        background-color: black;
        margin-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
    }
/*---------------------------------------------*/
.image {
    margin-left: auto;
    margin-right: auto;
}

#contact_form {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    font-size: 22px;
    font-family: Calibri;
    text-align: left;
}

#contact_form_header {
    margin: 10px;
    text-align: center;
    font-size: 42px;
    font-family: Calibri;
}

#register_button {
    background-color: #057cbe;
    color: white;
}
/*-----------------Navigation--------------------*/
.navbar {
    background-color: #044a7b;
}

.nav.navbar-nav li {
    border-radius: 10px;
}

    .nav.navbar-nav li a {
        color: white;
        border-radius: 10px;
    }

        .nav.navbar-nav li a:hover {
            color: #057cbe;
        }

.navbar-header p {
    color: white;
}

.nav.navbar-nav.navbar-right span {
    color: white;
}

    .nav.navbar-nav.navbar-right span:hover {
        color: #057cbe;
    }

.navbar-inverse {
    background-image: url(images/bg.jpg);
    background-repeat: repeat;
}
/*-----------------------------------------------*/
.copyright {
    margin-top: 5px;
    text-align: center;
    color: white;
    font-size: 24px;
}

.contact-info {
    margin-top: 5px;
    text-align: center;
    color: white;
    font-size: 24px;
}

#table_header {
    font-size: 32px;
    font-family: Verdana;
    color: white;
    text-align: center;
    margin-top: 10px;
}

#table_holder {
    font-size: 16px;
}

.table-stripped {
    background-color: white;
}

.glyphicon {
    color: #057cbe;
}

    .glyphicon:hover {
        color: black;
    }

.modal-header {
    background-color: #048ecf;
    color: black;
}

.modal-dialog {
    max-width: 600px;
}

.modal-body {
    text-align: center;
}

#scrollable-div {
    height: 800px;
}

#myModal {
    border: 1px solid black;
    border-radius: 20px;
}

#table_navbar {
    text-align: right;
    font-size: 22px;
}

#myCarousel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#RegError {
    margin-top: 10px;
}

#TaskTableHolder {
    padding: 20px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
}

.desc-box {
    min-height: 300px;
    padding: 10px;
    background-color: white;
    font-size: 24px;
    font-family: Tahoma;
    border-bottom: 2px solid black;
}

.desc-box-inverse {
    min-height: 300px;
    padding: 10px;
    background-color: #057cbe;
    font-size: 24px;
    font-family: Tahoma;
    border-bottom: 2px solid black;
}

.desc-box img {
    width: 500px;
    height: 250px;
}

.desc-box-inverse span {
    color: white;
}

.desc-button-holder {
    color: black;
    font-size: 24px;
    font-family: Tahoma;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: white;
}

.desc-header {
    color: black;
    margin: 10px;
    text-align: center;
}

.responsive-calendar {
    background-color: white;
}

    .responsive-calendar h4 {
        font-family: Arial;
        font-size: 24px;
    }

.controls a {
    border: 2px solid red;
    width: 80px;
    height: 40px;
    background-color: blue;
}

.days {
    border: 1px solid blue;
}

.desc-text {
    text-overflow: ellipsis;
}

.task_table {
    table-layout: fixed;
    text-overflow: ellipsis;
    /*max-width: 50%;
    min-width: 50%;
    width: 50%;*/
}

    .task_table td {
        /*     max-width: 0;
    overflow: visible;
    text-overflow: ellipsis;
    white-space:pre-line;*/
    }

.matrix-task-table-holder {
    height: 50%;
    min-height: 50%;
    max-height: 50%;
    /*overflow: no-content;*/
}

.task_table select {
    padding: 0px;
    margin: 0px;
}

.desc-column {
    width: 35%;
    min-width: 35%;
    max-width: 35%;
}

.data-column {
    width: 25%;
    min-width: 25%;
    max-width: 25%;
}

.priority-column {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}

.number-column {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.complete-column {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
}

.control-column {
    width: 15%;
    min-width: 15%;
    max-width: 15%;
}

#number-edit-holder input {
    max-width: 35px;
    max-height: 30px;
}

#data-edit-holder input {
    max-width: 100px;
    max-height: 30px;
}

#desc-edit-holder input {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    max-height: 30px;
}

.task_table td {
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
}

.task_table input {
    height: 30px;
    max-height: 30px;
    padding: 0px;
    margin: 0px;
}

.inform-box {
    font-size: 24px;
    margin: 10px;
    color: black;
}

.field-redact-button span {
    color: white;
}

.field-redact-button:hover span {
    color: black;
}

.field-redact-holder {
    display: none;
    margin-left: 10px;
    font-size: 20px;
    font-family: Arial;
    color: black;
}

.profile-inform-header {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-family: Arial;
    color: black;
}

#change-password-button {
    width: 180px;
    margin: 5px;
    display: none;
}

#save-changes-button {
    margin: 5px;
    display: none;
    width: 180px;
}

#reset-changes-button {
    display: none;
    margin: 5px;
    width: 180px;
}

.redact-button-holder {
    margin: 5px;
}

#change-profile-error-message-holder {
    color: red;
    font-size: 20px;
    padding-left: 10px;
}

#TaskStatsDiagramHolder {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    min-width: 200px;
}

canvas {
    border: 2px solid;
    width: 100% !important;
    max-width: 300px;
    height: auto !important;
}
#user-login-holder{
}
