@{
    List<SelectListItem> priorityList = new List<SelectListItem>();
    priorityList.Add(new SelectListItem()
    {
        Text = "A",
        Value = "A",
        Selected = true
    });
    priorityList.Add(new SelectListItem()
    {
        Text = "B",
        Value = "B",
    });
    priorityList.Add(new SelectListItem()
    {
        Text = "C",
        Value = "C"
    });
    priorityList.Add(new SelectListItem()
    {
        Text = "D",
        Value = "D"
    });
}
@using (Ajax.BeginForm("UpdateTask", "Task", new { }, new AjaxOptions { }, new {@onclick="alert('sended')"}))
{
    <td>@Html.TextBox("description", "", new { @type = "text", @placeholder = "Введите задание" })</td>
    <td>@Html.TextBox("data", "", new { @type = "datetime-local", @placeholder = "Введите дату" })</td>
    <td>@Html.DropDownList("priority", priorityList, new { @placeholder = "Выберите приоритет" })</td>
    <td>@Html.TextBox("number", "", new { @type = "number", @placeholder = "Введите номер", @size = "2", @onchange = "NumberChanged()" })</td>
    <td><input type="submit" value="Save"></td>
}