@{
    ViewBag.Title = "RegistrationPage";
}

<h2>RegistrationPage</h2>

@using (Html.BeginForm("AddUser", "Auth", FormMethod.Post))
{
    @Html.TextBox("login", "", new { @type = "text", @placeholder = "введите логин" })
    @Html.TextBox("email", "", new { @type = "email", @placeholder = "введите email" })
    @Html.TextBox("password", "", new { @type = "password", @placeholder = "введите пароль" })
    @Html.TextBox("confirmpassword", "", new { @type = "password", @placeholder = "подтвердите пароль" })
    <input type="submit" value="Зарегистрироваться">
}
